@charset "UTF-8";

/* CSS Document */

#wrapper {
  width: 100%;
  overflow: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #005AA8;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.mobile_only { display: none; }
.web_only { display: block; }

@media only screen and (max-width: 750px) {
  .mobile_only  { display: block; }
  .web_only { display: none; }
}

header {
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  z-index: 9;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

header .contents_in {
  display: flex;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
}

header .header_left {
  color: #005AA8;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header_left img {
}

header .header_right nav {
}

header .header_right nav ul {
  display: flex;
  align-items: center;
}

header .header_right nav ul li {
  margin-left: 30px;
}

header .header_right nav ul li a {
  color: #005AA8;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: bold;
}

header .header_right .blue_button {
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: bold;
}

header .navbar_menu_icon {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .contents_in {
    height: 60px;
    padding: 0 22px 0 15px;
  }

  header .header_left {
    font-size: 12px;
  }

  header .header_left img {
    height: 31px;
  }

  header .navbar_menu_icon {
    float: right;
    display: block;
  }

  header .mobile_only  { display: block; }
  header .web_only { display: none; }
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #005AA8;
  display: block;
  transition: 0.3s;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 750px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


main .header_space {
  height: 100px;
}

@media only screen and (max-width: 1024px) {
  main .header_space {
    height: 60px;
  }
}

main .area01 {
  padding: 33px 140px 48px 140px;
}

main .area01 .contents_in {
  max-width: 1000px;
  margin: 0 auto;
}

main .area01 .path {
  color: #5C5C5C;
  font-size: 12px;
  font-family: 'Noto Sans JP';
  margin-bottom: 30px;
}

main .area01 .interview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .area01 .interview .en {
  font-size: 38px;
  letter-spacing: 3.52px;
  font-family: 'Noto Serif JP';
  font-family: 500;
}

main .area01 .interview .jp {
  font-size: 24px;
  letter-spacing: 3.52px;
  font-family: 'Noto Serif JP';
  font-family: 500;
}


@media only screen and (max-width: 750px) {
  main .area01 {
    padding: 22px 15px 47px 15px;
  }

  main .area01 .interview .en {
    font-size: 20px;
  }

  main .area01 .interview .jp {
    font-size: 16px;
  }
}

main .area02 {
  background-image: url('../img/recruit/person/bg_intro.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

main .area02 .overlay {
  padding: 0 140px 0 140px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(26, 45, 70, 0.35), rgba(26, 45, 70, 0.35));
  position: relative;
  z-index: 2;
}

main .area02 .contents_in {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

main .area02 .contents_in p {
  color: white;
  font-size: 32px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
  letter-spacing: 3.52px;
  line-height: 60px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 750px) {
  main .area02 {
    background-image: url('../img/recruit/person/bg_intro_mobile.png');
    height: 214px;
  }

  main .area02 .overlay {
    padding: 0 15px;
  }

  main .area02 .contents_in {
    padding: 0 35px 18px 15px;
    align-items: flex-end;
  }

  main .area02 .contents_in p {
    font-size: 18px;
    line-height: 28px;
  }
}

main .area03 {
  padding: 0 140px 50px 140px;
}

main .area03 .contents_in {
  max-width: 1000px;
  margin: 0 auto;
}

main .area03 .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 89px 0 63px 0;
}

main .area03 .label .jp {
  color: #050505;
  font-size: 44px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
  letter-spacing: 3.52px;
  margin-right: 20px; 
}

main .area03 .new_members .label .en {
  color: #87B41E;
  font-size: 30px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
  letter-spacing: 3.52px;
}


main .area03 .mid_members .label .en {
  color: #005AA8;
  font-size: 30px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
  letter-spacing: 3.52px;
}

main .area03 .new_members {
  margin-bottom: 60px;
}

main .area03 .mid_members {
  margin-bottom: 0;
}

main .area03 .cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

main .area03 .new_card1 {
  width: 33.3%;
  padding: 0 10px 80px 10px;
}

main .area03 .new_card2 {
  width: 33.3%;
  padding: 40px 10px 40px 10px;
}

main .area03 .new_card3 {
  width: 33.3%;
  padding: 80px 10px 0 10px;
}

main .area03 .new_card4 {
  width: 33.3%;
  padding: 0 10px 80px 10px;
}

main .area03 .new_card5 {
  width: 33.3%;
  padding: 40px 10px 40px 10px;
}

main .area03 .mid_card1 {
  width: 33.3%;
  padding: 0 10px 80px 10px;
}

main .area03 .mid_card2 {
  width: 33.3%;
  padding: 40px 10px 40px 10px;
}

main .area03 .mid_card3 {
  width: 33.3%;
  padding: 80px 10px 0 10px;
}

main .area03 .card .photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 125%;
  /*position: relative;*/
}

main .area03 .card .new_photo1 {
  background-image: url('../img/recruit/person/new_photo1.png');
}

main .area03 .card .new_photo2 {
  background-image: url('../img/recruit/person/new_photo2.png');
}

main .area03 .card .new_photo3 {
  background-image: url('../img/recruit/person/new_photo3.png');
}

main .area03 .card .new_photo4 {
  background-image: url('../img/recruit/person/new_photo4.png');
}

main .area03 .card .new_photo5 {
  background-image: url('../img/recruit/person/new_photo5.png');
}

main .area03 .card .mid_photo1 {
  background-image: url('../img/recruit/person/mid_photo1.png');
}

main .area03 .card .mid_photo2 {
  background-image: url('../img/recruit/person/mid_photo2.png');
}

main .area03 .card .mid_photo3 {
  background-image: url('../img/recruit/person/mid_photo3.png');
}

main .area03 .card .information {
  margin: -10% 0 0 0;
  width: 95%;
  background-color: #FFFFFF;
  padding: 10px 15px 0 0;
}

main .area03 .card .information .description {
  margin-bottom: 15px;
  color: #070707;
  font-size: 20px;
  font-family: 'Noto Sans JP';
  font-weight: bold;
}

main .area03 .card .information .occupation {
  margin-bottom: 15px;
  justify-content: flex-start;
  padding: 10px 15px;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-weight: 500;
}

main .area03 .new_members .card .joined_date {
  color: #87B41E;
  font-size: 16px;
  font-family: 'Noto Sans JP';
  font-weight: 500;
}

main .area03 .mid_members .card .joined_date {
  color: #005AA8;
  font-size: 16px;
  font-family: 'Noto Sans JP';
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  main .area03 .label .jp {
    font-size: 30px; 
  }
  main .area03 .new_members .label .en {
    font-size: 20px;
  }
  main .area03 .mid_members .label .en {
    font-size: 20px;
  }
  main .area03 .card .information .description {
    font-size: 17px;
  }
  main .area03 .card .information .occupation {
    font-size: 14px;
  }
  main .area03 .card .information .joined_date {
    font-size: 14px;
  }
}

@media only screen and (max-width: 750px) {
  main .area03 {
    padding: 0 15px 130px 15px;
  }
  main .area03 .label {
    margin: 28px 0 36px 0;
  }
  main .area03 .label .jp {
    font-size: 20px;
    margin-right: 20px; 
  }
  main .area03 .new_members {
    margin-bottom: 102px;
  }
  main .area03 .new_members .label .en {
    font-size: 14px;
  }
  main .area03 .mid_members .label .en {
    font-size: 14px;
  }
  main .area03 .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  main .area03 .new_card1 {
    width: 50%;
    padding: 0 5px;
  }
  main .area03 .new_card2 {
    width: 50%;
    padding: 46px 5px 36px 5px;
  }
  main .area03 .new_card3 {
    width: 50%;
    padding: 0 5px;
  }
  main .area03 .new_card4 {
    width: 50%;
    padding: 46px 5px 36px 5px;
  }
  main .area03 .new_card5 {
    width: 50%;
    padding: 0 5px;
  }
  main .area03 .mid_card1 {
    width: 50%;
    padding: 0 5px;
  }
  main .area03 .mid_card2 {
    width: 50%;
    padding: 46px 5px 36px 5px;
  }
  main .area03 .mid_card3 {
    width: 50%;
    padding: 0 5px;
  }
  main .area03 .card .photo {
    width: 100%;
    height: 200px;
  }
  main .area03 .card .information .description {
    font-size: 14px;
  }
  main .area03 .card .information .occupation {
    font-size: 12px;
    padding: 10px 15px;
  }
  main .area03 .card .information .joined_date {
    font-size: 12px;
  }
}

main .area04 .category {
  display: flex;
  flex-direction: row;
  height: 260px;
  width: 100%;
}

main .area04 .category > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
}

main .area04 .category .division {
  background-image: url('../img/recruit/person/bg_division.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .area04 .category .interview {
  background-image: url('../img/recruit/person/bg_interview.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .area04 .category .person {
  background-image: url('../img/recruit/person/bg_person.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .area04 .category .trans_button {
  position: relative;
  background-color: #ffffff;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 120px;
  cursor: pointer;
}

main .area04 .category .trans_button .en {
  font-size: 26px;
  letter-spacing: 3.52px;
  text-align: center;
  font-family: 'Noto Serif JP';
  font-weight: 500;
}

main .area04 .category .trans_button .jp {
  font-size: 20px;
  letter-spacing: 3.52px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
}

main .area04 .category .trans_button > img {
  position: absolute;
  width: 7px;
  right: 10px;
  bottom: 10px;
}

main .area04 .recruit {
  background-image: url('../img/recruit/person/bg_recruit.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

main .area04 .recruit .overlay {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0 110px;
}

main .area04 .recruit .contents_in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1060px;
  margin: 0 auto;
}

main .area04 .recruit .contents_in > button {
  width: 100%;
  margin: 0 30px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .area04 .recruit .contents_in > button .entry1 {
  letter-spacing: 3.52px;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Noto Serif JP';
}

main .area04 .recruit .contents_in > button .entry2 {
  font-size: 14px;
  line-height: 30px;
  font-family: 'Noto Sans JP';
  font-weight: 500;
}

main .area04 .recruit .contents_in > button .entry3 {
  margin: 4px 0 0 10px;
}

@media only screen and (max-width: 750px) {
  main .area04 .category {
    display: flex;
    flex-direction: row;
    height: 124px;
  }
  main .area04 .category > div {
    padding: 8px 8px;
    align-items: flex-end;
  }

  main .area04 .category .trans_button .en {
    font-size: 10px;
  }

  main .area04 .category .trans_button .jp {
    font-size: 12px;
  }

  main .area04 .category .trans_button {
    width: 100%;
    height: 72px;
  }

  main .area04 .recruit {
    height: 171px;
  }

  main .area04 .recruit .overlay {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0 5px;
  }

  main .area04 .recruit .contents_in {
  }

  main .area04 .recruit .contents_in > button {
    width: 50%;
    margin: 0 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  main .area04 .recruit .contents_in > button .entry1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  main .area04 .category .trans_button {
    height: 90px;
  }
}

footer {

}

footer {
  background-color: #FFFFFF;
  padding: 50px 0 50px 0;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 50px 15px 50px 15px;
  }
}

footer .contents_in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .contents_in .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

footer .contents_in .icon .cnt_img {
  margin-left: 10px;
  margin-right: 10px;
}

footer .contents_in .icon .cnt_img img {
  width: 25px;
}

footer .contents_in .logo {
  height: 50px;
  margin-bottom: 10px;
}

footer .contents_in .items {
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  color: #333333;
  font-size: 14px;
  font-family: 'Noto Serif JP';
  align-items: center;
  justify-content: center;
}

footer .contents_in .items div {
  margin: 5px 0;
}

footer .contents_in .component {
  margin-bottom: 20px;
  border: 1px solid #005AA8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 74px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer .contents_in .component p {
  margin-right: 40px;
  font-family: 'Noto Serif JP';
  font-size: 14px;
}

footer .contents_in .copyright {
  font-size: 12px;
  font-family: 'Noto Serif JP';
  color: #333333;
}

@media screen and (max-width: 750px) {
  footer .contents_in .component {
    width: 254px;
    height: 52px;
  }

  footer .contents_in .items {
    font-size: 12px;
    max-width: 100%;
  }
}

.blue_button {
  background-color: #005AA8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Noto Sans JP';
  margin: 4px 2px;
  cursor: pointer;
}

.green_button {
  background-color: #87B41E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Noto Sans JP';
  margin: 4px 2px;
  cursor: pointer;
}